REDIS_NETWORK=noted_default
REDIS_URL=redis://noted-redis-1:6379/0
LIVEKIT_URL=wss://your-livekit-project.livekit.cloud
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
TRUST_PROXY_HEADERS=true
COOKIE_SECURE=true
ALLOWED_ORIGINS=https://ruse.monostack.in
